* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {

    color: #333;
    margin-top: 20px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    flex: 1;

}

header {
    z-index: 1;
}

a {
    color: #8e44ad;
}

main p {

    padding: 10px;

}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #e0e7ff;
    position: fixed;
    top: 0;
    left: -250px; 
    transition: left 0.3s ease;
    padding: 20px;
}

.sidebar.open {
    left: 0; 
}

.text {
    margin: 0; 
}

.TopBar {
    background-color: #333;
    color: #e0e7ff;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;   
    justify-content: center;
}

.DownBar {
    background-color: #333;
    color: #e0e7ff;
    right: 0;
    padding: 10px;
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}

.toggle-btn {
    position: absolute;
    right: 2.5px;
    top: 2.5px;
    padding: 6px 12px;
    background-color: #444;
    color: #e0e7ff;
    border: none;
    cursor: pointer;
}

.Images {
    width: 100vw;
    height: auto;
    max-width: 600px;
    border-radius: 12px;

}

.content {
    max-width: 900px;
}

.sidebar a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 8px;
    transition: text-decoration 0.3s ease, color 0.3s ease;
}

.sidebar a:hover, .sidebar a.ativo {
    color: #8e44ad;
    text-decoration: underline;
}

#lista {
    margin-top: 100px;
}

#habilidades {

    color: black;
}

